.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sociallink {
  padding: 0 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.projectimage {
  width: 400px;
  border-radius: 5px;
}